@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    border-radius: 10px;
    width: 7px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgba(12,29,41,.6);
}

.limit-charset {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.font-titillium {
    font-family: 'Titillium Web', sans-serif !important;
}
